support-collector.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6d2250a7-1f9f-4c0b-b002-9ae1a95b2437",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        448,
        -128
      ],
      "id": "d654c97d-25b5-43d3-b90c-33b1227c5c30",
      "name": "Webhook",
      "webhookId": "e507b5bb-647f-4390-a74e-773d2dd55fdb"
    },
    {
      "parameters": {
        "jsCode": "// Parse FluentSupport webhook payload\n// FluentSupport sends ticket data on agent response or ticket close events\nconst body = items[0].json.body || items[0].json;\nconst ticket = body.ticket || body;\n\n// Extract ticket ID\nconst ticketId = ticket.id || ticket.ticket_id || body.ticket_id;\nif (!ticketId) {\n  throw new Error('No ticket_id found in webhook payload');\n}\n\n// Get response count from ticket data\nconst responseCount = parseInt(ticket.response_count || ticket.responses_count || 0);\n\n// Detect event type from webhook payload\n// FluentSupport may send: status changes, new responses, etc.\nlet eventType = 'agent_response';\nconst status = (ticket.status || '').toLowerCase();\nconst eventField = body.event || body.action || body.type || '';\n\nif (status === 'closed' || eventField.includes('closed') || eventField.includes('close')) {\n  eventType = 'ticket_closed';\n}\n\nreturn {\n  json: {\n    ticket_id: parseInt(ticketId),\n    response_count: responseCount,\n    event_type: eventType\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -128
      ],
      "id": "parse-event-node",
      "name": "Parse Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://support.junior.ninja/wp-json/ai-audit/v1/queue-live-audit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ticket_id: $json.ticket_id, response_count: $json.response_count, event_type: $json.event_type } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -128
      ],
      "id": "queue-audit-node",
      "name": "Queue Live Audit",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QuPjMThaSg2wOQyZ",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Event": {
      "main": [
        [
          {
            "node": "Queue Live Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "91be72ebc320d0aa3df648ac65f6dd8332afea167d26770898b00970c75e8a44"
  }
}
